.rentContainer{
    background-color: rgb(236, 226, 226);
    
    .container{
        padding-top: 5vh;
        background-color: white;

        .navlink{
            color: black ;
            text-decoration: none;

        }
    }
}