.rentContainer {
  background-color: #ffffff;

  .container {
    padding-top: 5vh;
    background-color: white;

    .recommendedSellers {
      .container {
        background-color: rgb(255, 245, 228);
        border-radius: 10px;
      }

      .mediumCardWrapper {
        background-color: rgb(255, 245, 228);
        border-radius: 10px;
      }
    }

    .navlink {
      color: black;
      text-decoration: none;
    }
  }
}
