.hero-section {
    font-family: Arial, sans-serif;
    background: url("https://c.housingcdn.com/demand/s/client/common/assets/buyCover.36ede2d6.jpg");
    background-position:  top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
  }
  
  .hero-bg {
    // background: linear-gradient(135deg, #00bcd4, #4caf50);
  }
  
  .search-bar-container {
    // background-color: #2d3436;
  }
  
  .input-group .form-control {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  .input-group .btn {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  

 