.chat {
    height: 100%;
    display: flex;
    flex-direction: column;
    ::-webkit-scrollbar {
        height: 1px;
        display: none;
      }
  
    .messages {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 15px;
      overflow-y: scroll;

      h1 {
        font-weight: 400;
        font-size: 23px;
      }
  
      .message {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
  
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
  
        span {
          font-weight: 600;
          font-size: 15px;
        }
        p{
            margin: 0px;
            font-size: 13px;

        }
      }
    }
  
    .chatBox {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
  
      .top {
        background-color: #f7c14b85;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 10px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .user {
          display: flex;
          align-items: center;
          gap: 20px;
  
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .close {
          cursor: pointer;
        }
      }
      .center {
        height: 350px;
        overflow: scroll;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: white;
  
        .chatMessage{
          width: 50%;
  
          &.own{
            align-self: flex-end;
            text-align: right;
          }
  
          span{
            font-size: 11px;
            background-color: #f7c14b39;
            padding: 2px;
            border-radius: 5px;
          }
        }
      }
      .bottom {
        border-top: 2px solid #f7c14b85;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        textarea{
          flex:3;
          height: 100%;
          border: none;
          padding: 10px;
          outline: none;
         
        }
  
        button{
          flex:1;
          background-color: #fcc55185;
          height: 100%;
          border: none;
          cursor: pointer;
          &:hover{
            background-color: #fcc651d2;
          }
        }
      }
    }
  }