.filterContainer {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center; // Center the filter container

  
  // Hide scrollbar for webkit browsers when not needed
  ::-webkit-scrollbar {
    height: 10px; 
    display: none;
  }

 

}

.filterOptions {
  display: flex;
  overflow-x: auto; // Allow horizontal scrolling when the filters overflow
  gap: 15px;
  align-items: center;
  justify-content: flex-start; // Align the items to the left

  

  .filterGroup {
    display: flex;
    flex-direction: column;
    width: 150px !important;
    flex-shrink: 0; // Prevent filters from shrinking

    label {
      font-size: 12px;
      color: #666;
      margin-bottom: 5px;
    }

    select {
      padding: 5px 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
    }
  }

  .filterSave {
    background-color: #5e72e4;
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-shrink: 0; // Prevent the button from shrinking

    .icon {
      font-size: 16px;
    }

    &:hover {
      background-color: #4e62d4;
    }
  }
}

// Media Queries for responsiveness
@media (max-width: 768px) {
  .filterOptions {
    justify-content: flex-start; // Align items to the left on smaller screens
    gap: 10px;
  }

  .filterGroup {
    // min-width: 120px; // Reduce width on smaller screens
  }

  .filterSave {
    min-width: 100px; // Ensure the search button doesn't get too small
  }
}

@media (max-width: 480px) {
  .filterOptions {
    gap: 8px;
    padding: 5px;
    .filterGroup {
      width: 100px !important ;
  
      label {
        font-size: 12px;
        color: #666;
        // margin-bottom: 5px;
      }
  
    }
  }

  .filterSave {
    font-size: 14px; // Slightly reduce the button font size
  }
}

