.footerContainer{
    background-color: black;
    .imgWrapper{
        // height: 5rem;
        // width: 40%;
       
        img:nth-child(1){
            width: 70%;
        }
        img:nth-child(2){
            width: 32%;
        }
    }
    .socicalIcons{
        color: rgba(255, 255, 255, 0.568);
        font-size: 20px;
        cursor: pointer;
    }
    .copyright{
        color: rgba(255, 255, 255, 0.568);
        font-size: 13px;
    }

    .list{
        color: rgba(255, 255, 255, 0.568);
        font-size: 14px;
       li{
        // color: blue;
        cursor: pointer;
        &:hover{
            color: white;
        }
       }
    }
}



footer ul {
    
    padding: 0;
    list-style: none;
  }
  
  footer ul li {
    margin-bottom: 8px;
  }
  
  