@import "../scss/variables";



.hero-section {
  font-family: Arial, sans-serif;
  background: url("https://c.housingcdn.com/demand/s/client/common/assets/buyCover.36ede2d6.jpg");
  background-size: cover;
  // object-fit:cover;
  background-position: center right;
  // height: 90vh;
  height: 550px;
  overflow: hidden;
  width: 100%;
 
  .title {
    padding-top: 195px;
    padding-bottom: 0px;
    width: 60%;
    text-align: center;
    background-image: linear-gradient(90deg, #ffe25f, #feb47b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: bold;
  }

  //? Enable Styles For Tabs ---
  .formContainer {
    max-width: 800px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    .tabsWrapper {
      .navlink {
        color: $lightwhite;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        color: $lightwhite;
        padding: 15px;
      }
    }
  }

  .tbasSearchForm {
    max-width: 800px;
    .searchIcon {
      .bi-search {
        top: 100px !important;
        .bi-search-icon {
          margin: 29px;
        }
      }
    }
  }
}

.form-control {
  padding-left: 40px;
  padding-right: 110px;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.form-control::placeholder {
  color: gray;
  opacity: 0.8;
}

.downPara {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100% !important;
  margin-top: 60px;
  overflow: visible;

  .paraRounded {
    position: absolute;
    color: black;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: rgba(255, 255, 255, 0.16);
    .star1 {
      opacity: 0.7;
      width: 15px;
    }
    .star2 {
      opacity: 0.5;
      width: 10px;
    }
    .star3 {
      opacity: 0.5;
      width: 10px;
    }
    p {
      font-size: 14px;
      color: $lightwhite !important;
      backdrop-filter: blur(22px);
    }
  }
}

.navlinks {
  color: $white;
}

@media (max-width: 510px) {
  .hero-section{
    height: 400px;
    .title {
      background-color: red !important;
      padding-top: 120px;
      padding-bottom: 0px;
      width: 60%;
      text-align: center;
      background-image: linear-gradient(90deg, #ffe25f, #feb47b);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 1.8rem !important;
      font-weight: bold;
    }
    .downPara {
      margin-top: 22px;
  
      p {
        font-size: 12px !important;
      }
    }
    .tbasSearchForm{
      input{
        padding: 1px auto;
        height: 40px;

      }
    }
    .tabsWrapper {
      .navlink {
        padding: 10px !important;
        // background-color: red !important;
      }
    }
  }
}
@media (max-width: 400px) {
 .hero-section{

  .title {
     padding-top: 120px;
    font-size: 1.5rem !important;
    background-color: red !important;
  }
  .downPara {
    margin-top: 28px;

    p {
      font-size: 12px !important;
    }
  }
 }
}

@media (max-width: 340px) {
  .title {
    padding-top: 120px !important;

    font-size: 1.3rem !important;
  }
  .downPara {
    margin-top: 28px !important;
    p {
      font-size: 11px !important;
    }
  }
}
