@import "../scss//variables";

.navbar {
  background-color: #6b5eae;
  padding: 10px 40px;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.25),
    transparent
  );
  .navlinkWrapper {
    position: relative;
  }

  .navlink {
    color: $lightwhite;
    text-decoration: none;
    padding: 0rem 0.5rem;
    transition: color 0.3s ease-in-out;
  }
  .navlink:hover {
    color: rgb(209, 172, 50);
  }
  .navlink.active {
    color: rgb(247, 218, 91);
  }

  .navlink::after {
    content: "";
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(199, 159, 49);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  .navlink:hover::after {
    transform: scaleX(1);
    width: 100%;
  }

  .navbar-toggler {
    background-color: transparent;
    border: none;
    outline: none;
    color: transparent;
    span {
      background-color: transparent;
      color: white !important;
    }
  }

  .mega-dropdown {
    .insightsBadge {
      position: absolute;
      top: 0;
      background-color: #eba612;
      padding: 5px 5px 5px 5px;
      font-size: 10px;
      font-weight: 700;
      line-height: 6px;
      border-radius: 3px;
      color: $white;
      display: inline-block;
      margin-left: 2px;
      margin-right: 1px;
    }
  }

  .postPropertyWrapper {
    .postProperty {
      text-decoration: none;
      padding: 0rem 0.5rem;
    }

    .postPropertyBadge {
      background-color: #219653;
      padding: 5px 5px 5px 5px;
      font-size: 9px;
      font-weight: 700;
      line-height: 6px;
      border-radius: 3px;
      color: #fff;
      display: inline-block;
      margin-left: 2px;
      margin-right: 1px;
    }
  }
}

.mega-dropdown:hover .mega-dropdown-content {
  display: block;
}

.mega-dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  width: 100vw;
  background-color: #f8f9fa;
  padding: 20px;
  z-index: 1000;
}

.mega-dropdown-content .row {
  display: flex;
  justify-content: space-between;
}

.mega-dropdown-content .col-md-3 {
  padding: 10px;
}

.mega-dropdown-content h5 {
  margin-bottom: 15px;
}

.mega-dropdown-content a {
  display: block;
  margin: 5px 0;
}

@media (max-width: 991px) {
  .mega-dropdown-content {
    width: auto;
  }
}
