.registerToPostContainer{
    .container{
        background-color: #EBF8F1;
        border-radius: 10px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .registerToPostBadge {
        // position: absolute;
        // top: 0;
        // background-color: #eba612;
        // padding: 5px 5px 5px 5px;
        // font-size: 10px;
        // font-weight: 700;
        // line-height: 6px;
        // border-radius: 3px;
        // color: rgb(231, 10, 10);
        // display: inline-block;
        // margin-left: 2px;
        // margin-right: 1px;
      }
}