.slider-container {
  .sliderWrapper {
    .col-lg-9 {
      text-align: center;
      height: 25rem !important;
      // width: 100%;
      img {
        // padding-top: 30px;
        width: 97% !important;
        height: 380px !important;
        object-fit: cover;
      }
    }
  }
  .spotlightCard {
    .row-bottom {
      p {
        font-size: 15px;
        opacity: 0.6;
        font-weight: 500;
      }
    }
  }
  height: 100%;
  .col-3 {
    img {
      width: 100%;
      height: 100% !important;
      background-size: cover !important;
      background-position: center;
      border-radius: 20px;
    }
  }
}
