
.searchPageContainer {
  padding-top: 60px;
  .roww{
    background-color: red;
    
  }
  .container-fluid {
    
    .row {
      
      .sticky-filter{
        position: sticky;
        top: 9.9vh;
        z-index: 100;

      }
      .listContainer {
        height: 100%;
        overflow-y: auto; 
      }

      .mapContainer {
        position: sticky !important;
        top: 10vh;  
      }
    }
  }
}



