

.newPostPage {
  padding: 2rem;
 
  background-color: #f8f9fa;

  .container {
    margin-top:3rem;
    max-width: 1200px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .formContainer {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    border-top: 2px solid orange;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

    h1 {
      font-size: 1.5rem;
      // text-align: center;
      margin-bottom: 1.5rem;
      color: #343a40;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .formGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
      }

      .item {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 0.5rem;
          font-weight: 500;
          font-size: 0.9rem;
          color: #495057;
        }

        input,
        select {
          border-radius: 8px !important;
          padding: 0.75rem;
          border: 1px solid #ced4da;
          border-radius: 4px;
          font-size: 1rem;

          &::placeholder{
            font-size: 0.9rem;
          }
        }

        input:focus,
        select:focus {
          outline: none;
          border-color: #064ee9;
          box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.20);
        }

        .custom-select {
          font-size: 0.9rem; 
        }
       
        
      }

      .description {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
       

        label {
          margin-bottom: 0.5rem;
          font-weight: 500;
          font-size: 1rem;
        }

        .ql-container {
            border-radius: 8px;
            border: 1px solid #ced4da;
            min-height: 150px;
        }
      }

      .submitSection {
       text-align: center;

        .errorMessage {
          color: #dc3545;
          font-size: 0.9rem;
        }
      }
    }
  }

  .sideContainer {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    border-top: 2px solid orange;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    flex: 1;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 1.6rem;
      color: #343a40;
    }
    .imagesPreview {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      justify-content: center;
      margin-bottom: 1rem;
    
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 4px;
        border: 1px solid #ced4da;
      }
    
      .defaultIcon {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #6c757d;
        img{
          width: 100px;
          height: 100px;
          border-radius: 100%;
        }
    
        p {
          font-size: 0.9rem;
        }
      }
    }

  }

  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }

    .formContainer,
    .sideContainer {
      width: 100%;
    }
  }
}



@media (max-width: 768px) {
  .formContainer {
    margin-bottom: 2rem;
  }

  .imagesPreview img {
    width: 80px;
    height: 80px;
  }

  .defaultIcon i {
    font-size: 2rem;
  }
}
