.blogCardContainer {
    .card {
        width: 97%;
        height: 23rem;
        overflow: hidden;

        .imgWrapper {
            overflow: hidden;

            img {
                transition: all 0.3s ease-in-out;
                height: 10rem;
                width: 100%;
                overflow: hidden;
                object-fit: cover;
                border-bottom: 2px solid orange;
            }

            &:hover img {
                transform: scale(1.2);
            }
        }

        .card-body {
            .card-text {
                overflow: hidden;
            }

            .text-truncate-multiline-for-title {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                line-clamp: 2;
                -webkit-line-clamp: 2;
            }

            .text-truncate-multiline-for-description {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                line-clamp: 3;
                -webkit-line-clamp: 3;
            }

            .writer {
                .badgee {
                    color: rgba(0, 0, 0, 0.897);
                    background-color: rgba(230, 217, 173, 0.664);
                    padding: 2px 10px;
                    border-radius: 6px;
                    font-size: 12px;
                }
            }
        }
    }
}