@import "../scss/variables";

.hero-section {
  font-family: Arial, sans-serif;
  background: url("https://c.housingcdn.com/demand/s/client/common/assets/buyCover.36ede2d6.jpg");
  background-size: cover;
  // object-fit:cover;
  background-image: black;
  background-position: center right;
  // height: 90vh;
  height: 550px;
  overflow: hidden;
  width: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 0;
  }

  .title {
    padding-top: 195px;
    padding-bottom: 0px;
    width: 60%;
    text-align: center;

    p {
      color: rgb(27, 23, 23);
    }
    font-size: 2rem;
    font-weight: bold;
  }

  //? Enable Styles For Tabs ---
  .formContainer {
    max-width: 800px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    .tabsWrapper {
      .navlink {
        color: $lightwhite;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        color: $lightwhite;
        padding: 15px;
      }
    }
  }

  .tbasSearchForm {
    max-width: 800px;

    .searchIcon {
      .bi-search {
        top: 100px !important;

        .bi-search-icon {
          margin: 29px;
        }
      }
    }
  }
}

.form-control {
  padding-left: 40px;
  padding-right: 110px;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.form-control::placeholder {
  color: gray;
  opacity: 0.8;
}

.downPara {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100% !important;
  margin-top: 142px;
  overflow: visible;

  .paraRounded {
    position: absolute;
    color: black;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: rgba(255, 255, 255, 0.16);

    .star1 {
      opacity: 0.7;
      width: 15px;
    }

    .star2 {
      opacity: 0.5;
      width: 10px;
    }

    .star3 {
      opacity: 0.5;
      width: 10px;
    }

    p {
      font-size: 14px;
      color: $lightwhite !important;
      backdrop-filter: blur(22px);
    }
  }
}

.navlinks {
  color: $white;
}

@media (max-width:1000px) {
  .hero-section {
    p {
      span {
        color: rgb(255, 255, 255);
        // font-weight: 600;
        text-shadow: 1.5px -1.5px 5px rgba(0, 0, 0, 0.9);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1) !important;
      z-index: 0;
    }
  }

}

@media (max-width: 510px) {
  .hero-section {
    height: 400px;

    .pps {
      display: none;
    }

    .title {
      padding-top: 180px;
      padding-bottom: 0px;
      width: 60%;
      text-align: center;
      // background-image: linear-gradient(90deg, #ffe25f, #feb47b);
      // -webkit-background-clip: text;
      // background-clip: text;
      // -webkit-text-fill-color: transparent;
      font-size: 1.7rem !important;
      font-weight: bold;
    }

    .downPara {
      margin-top: 3.1rem;

      p {
        font-size: 12px !important;
      }
    }

    .tbasSearchForm {
      input {
        padding: 1px auto;
        height: 40px;

        &::placeholder {
          font-size: 10px;
        }

      }
    }

    .tabsWrapper {
      .navlink {
        font-size: 13px !important;
        padding: 8px 10px !important;
      }
    }
  }
}

@media (max-width: 400px) {
  .hero-section {

    .title {
      padding-top: 190px;

      font-size: 1.4rem !important;
    }

    .downPara {
      margin-top: 3rem;

      p {
        font-size: 11px !important;
      }
    }

  }
}

.hero-section {
  @media (max-width: 340px) {
    .title {
      padding-top: 190px !important;


      font-size: 1.3rem !important;
    }

    .downPara {
      margin-top: 3.3rem;

      p {
        font-size: 11px !important;
      }
    }
  }
}


.property-search-form {
  max-width: 900px;
  background-color: transparent;

  .form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

    .form-group {
      display: flex;
      align-items: center;

      &.city-dropdown {
        width: 10rem;

        .form-select {

          height: 45px;
          border: none;
          font-size: 0.9rem;
          padding: 0 1rem;
          color: #495057;
          border-radius: 30px 0 0 30px;
          box-shadow: none;

          &:focus {
            border-color: none;
            box-shadow: none;
            outline: none;
          }
        }
      }

      &.locality-search {
        width: 50%;

        .form-control {
          height: 45px;
          border: none;
          font-size: 0.9rem;
          padding: 0 1rem;
          background-color: #ffffff;
          color: #495057;
          border-radius: 0;

          &:focus {
            box-shadow: none;
            outline: none;
          }
        }
      }

      &.search-button {
        width: 20%;

        .btn {
          height: 45px;
          font-size: 0.9rem;
          background-color: #00c853;
          color: white;
          border: none;
          border-radius: 0 30px 30px 0;

          &:hover {
            background-color: #00b247;
          }
        }
      }
    }
  }
}


@media (max-width:575px) {
  .search-button {
    width: auto !important;

    img {
      padding: 5px;
      background-color: white;
    }
  }

}

.tabsWrapper {
  .nav {
    position: relative;

    .navlink {
      position: relative;
      display: inline-block;
      transition: all 0.3s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 3px;
        background-color: #413488;
        transform: translateX(-50%);
        transition: width 0.6s ease-in-out;
      }

      &.active::before {
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
      }

      &:hover {
        color: rgba(0, 102, 255, 0.548);

      }

      &.active {
        color: rgb(255, 255, 255);
      }
    }
  }
}