$white: #ffffff;
$lightwhite: #dad1d0;
$black: #000000;
$lightblack: #333333;

// Background Colors
$primarybg: #f7f7f7;
$secondarybg: #e0e0e0;

// Text/Brand Colors
$primarycolor: #3498db; 
$secondarycolor: #2ecc71; 